@font-face {
  font-family: 'Museo Sans 500';
  src: url('/fonts/MuseoSans-500.woff2') format('woff2'),
    url('/fonts/MuseoSans-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 500';
  src: url('/fonts/MuseoSans-500Italic.woff2') format('woff2'),
    url('/fonts/MuseoSans-500Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: #ebeae6;
  color: #4c4d55;
  font-family: 'Museo Sans 500';
  font-weight: normal;
  font-style: normal;
}

a {
  color: #2d65b1;
}

.table {
  color: #4c4d55;
  width: auto;
}

.table tfoot {
  font-weight: bold;
  border-top: 2px solid #4c4d55;
}

table tfoot tr:last-of-type th {
  border-bottom: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d65b1;
  font-weight: bold;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6 {
  color: #ffffff;
}

.text-blue {
  color: #2d65b1;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

.text-decoration-underline {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .col-lg-5col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

a.card {
  text-decoration: none;
}

.bg-light-blue {
  background-color: #51baec !important;
}

.bg-blue {
  background-color: #2d65b1 !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #2d65b1;
  border-color: #28599d;
}

.btn-primary:hover {
  background-color: #1d4274;
}

.btn-secondary {
  color: #000000;
  background-color: #51baec;
  border-color: #3ab1e9;
}

.btn-secondary:hover {
  color: #000000;
  background-color: #189bd9;
  border-color: #158ac2;
}

.btn-white-border {
  border-color: #ffffff;
}

.btn-green {
  background: #4db938;
  border-color: #4db938;
  color: #000000;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:not(:disabled):not(.disabled):active,
.show > .btn-green.dropdown-toggle {
  background: #357e26;
  border-color: #357e26;
  color: #000000;
}

.logo {
  height: 70px;
}

.home-logo {
  height: 90px;
  width: 111px;
}

.header-bar {
  background-color: #ffffff;
  border-top: 1px solid #979797;
  border-bottom: 2px solid #979797;
  border-left: 1px solid #979797;
}

.header-stat {
  color: #2d65b1;
  text-align: center;
}

.header-stat-value {
  font-size: 32px;
  display: inline;
  font-weight: bold;
}

.header-stat-label {
  font-size: 16px;
}

.question-button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  font-size: 80px;
  margin-top: 10px;
  margin-right: 15px;
}

.project-table {
  background-color: #ffffff;
}

.project-table tr th {
  background: #51baec;
  color: #ffffff;
  border-top: none;
  font-weight: bold;
}

.project-table tr th a {
  text-decoration: none;
}

.project-table tr th a:hover {
  text-decoration: underline;
}

.project-table tr td a,
.project-table tr td a:visited,
.project-table tr td a:hover,
.project-table tr th a,
.project-table tr th a:visited,
.project-table tr th a:hover {
  color: #000000;
}

.project-table .table-dark {
  color: #000000;
}

.project-stat {
  margin-top: 6px;
}

.project-stat a {
  text-decoration: underline;
}

.faq-answer a {
  text-decoration: underline;
}

.react-slideshow-container .each-slide-effect > div {
  display: flex;
  align-items: end;
  justify-content: center;
  background-size: cover;
  height: 250px;
}

.react-slideshow-container .each-slide-effect .caption {
  padding: 5px 8px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  text-align: center;
}

.react-slideshow-container button.default-nav:first-of-type {
  margin: 0;
  padding: 0 3px 0 0;
  border-right: 0;
  border-top: 0;
  left: 20px;
  position: absolute;
}

.react-slideshow-container button.default-nav:last-of-type {
  margin: 0;
  padding: 0 0 0 1px;
  border-right: 0;
  border-top: 0;
  right: 20px;
  position: absolute;
}

.filter-input {
  min-height: 38px;
  outline: 0 !important;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 2px 8px;
}

.filter-input::placeholder {
  color: hsl(0, 0%, 50%);
}

.combobox-button {
  padding-left: .5rem;
  padding-right: .5rem;
  font-feature-settings: inherit;
  color: hsl(0, 0%, 50%);
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  -webkit-appearance: button;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 2px 8px;
  background-image: none;
  box-sizing: border-box;
}

.combobox-icon {
  color: rgb(204, 204, 204);
  fill: rgb(204, 204, 204);
}

.combobox-icon.open {
  color: rgb(153, 153, 153);
  fill: rgb(153, 153, 153);
}

.combobox-menu {
  position: absolute;
  max-width: 288px;
  background-color: #ffffff;
  margin-top: 1px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-height: 320px;
  overflow-y: auto;
  padding: 0;
  z-index: 10;
}

@media screen and (min-width: 576px) {
  .react-slideshow-container .each-slide-effect > div {
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    height: 80px;
  }
  .home-logo {
    height: 120px;
    width: 148px;
  }
  .header-stat {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header-stat-value {
    font-size: 48px;
  }
  .header-stat-label {
    font-size: 21px;
  }

  .react-slideshow-container .each-slide-effect > div {
    height: 445px;
  }
}
