@font-face {
  font-family: 'Museo Sans 500';
  src: url("/public/fonts/MuseoSans-500.woff2") format("woff2"), url("/public/fonts/MuseoSans-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 500';
  src: url("/public/fonts/MuseoSans-500Italic.woff2") format("woff2"), url("/public/fonts/MuseoSans-500Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: #EBEAE6;
  color: #4C4D55;
  font-family: 'Museo Sans 500';
  font-weight: normal;
  font-style: normal;
}

a {
  color: #2D65B1;
}

.table {
  color: #4C4D55;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2D65B1;
  font-weight: bold;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6 {
  color: #FFFFFF;
}

h3 {
  font-size: 1.5rem;
}

.text-decoration-underline {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .col-lg-5col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
}

a.card {
  text-decoration: none;
}

.bg-light-blue {
  background-color: #51BAEC !important;
}

.bg-blue {
  background-color: #2D65B1 !important;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #2D65B1;
  border-color: #28599d;
}

.btn-primary:hover {
  background-color: #1d4274;
}

.btn-secondary {
  color: #FFFFFF;
  background-color: #51BAEC;
  border-color: #3ab1e9;
}

.btn-secondary:hover {
  background-color: #189bd9;
  border-color: #158ac2;
}

.btn-white-border {
  border-color: #FFFFFF;
}

.btn-green {
  background: #4DB938;
  border-color: #4DB938;
  color: #ffffff;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:not(:disabled):not(.disabled):active,
.show > .btn-green.dropdown-toggle {
  background: #357e26;
  border-color: #357e26;
  color: #ffffff;
}

.logo {
  height: 90px;
  width: 111px;
}

.header-bar {
  background-color: #FFFFFF;
  border-top: 1px solid #979797;
  border-bottom: 2px solid #979797;
  border-left: 1px solid #979797;
}

.header-stat {
  color: #2D65B1;
  text-align: center;
}

.header-stat-value {
  font-size: 32px;
  display: inline;
  font-weight: bold;
}

.header-stat-label {
  font-size: 16px;
}

.question-button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  font-size: 80px;
  margin-top: 10px;
  margin-right: 15px;
}

.project-table {
  background-color: #FFFFFF;
}

.project-table tr th {
  background: #51BAEC;
  color: #FFFFFF;
  border-top: none;
  font-weight: bold;
}

.project-table tr td:first-child {
  font-size: 18px;
}

.number-list {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 30px;
  margin-right: 14px;
  float: left;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: #51BAEC;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo {
    height: 120px;
    width: 148px;
  }
  .header-stat {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-stat-value {
    font-size: 48px;
  }
  .header-stat-label {
    font-size: 21px;
  }
}
