@font-face {
  font-family: 'Museo Sans 500';
  src: url('/fonts/MuseoSans-500.woff2') format('woff2'),
    url('/fonts/MuseoSans-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 500';
  src: url('/fonts/MuseoSans-500Italic.woff2') format('woff2'),
    url('/fonts/MuseoSans-500Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: #ebeae6;
  color: #4c4d55;
  font-family: 'Museo Sans 500';
  font-weight: normal;
  font-style: normal;
}

a {
  color: #2d65b1;
}

.table {
  color: #4c4d55;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d65b1;
  font-weight: bold;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6 {
  color: #ffffff;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.text-decoration-underline {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .col-lg-5col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

a.card {
  text-decoration: none;
}

.bg-light-blue {
  background-color: #51baec !important;
}

.bg-blue {
  background-color: #2d65b1 !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #2d65b1;
  border-color: #28599d;
}

.btn-primary:hover {
  background-color: #1d4274;
}

.btn-secondary {
  color: #ffffff;
  background-color: #51baec;
  border-color: #3ab1e9;
}

.btn-secondary:hover {
  background-color: #189bd9;
  border-color: #158ac2;
}

.btn-white-border {
  border-color: #ffffff;
}

.btn-green {
  background: #4db938;
  border-color: #4db938;
  color: #ffffff;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:not(:disabled):not(.disabled):active,
.show > .btn-green.dropdown-toggle {
  background: #357e26;
  border-color: #357e26;
  color: #ffffff;
}

.logo {
  height: 90px;
  width: 111px;
}

.header-bar {
  background-color: #ffffff;
  border-top: 1px solid #979797;
  border-bottom: 2px solid #979797;
  border-left: 1px solid #979797;
}

.header-stat {
  color: #2d65b1;
  text-align: center;
}

.header-stat-value {
  font-size: 32px;
  display: inline;
  font-weight: bold;
}

.header-stat-label {
  font-size: 16px;
}

.question-button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  font-size: 80px;
  margin-top: 10px;
  margin-right: 15px;
}

.project-table {
  background-color: #ffffff;
}

.project-table tr th {
  background: #51baec;
  color: #ffffff;
  border-top: none;
  font-weight: bold;
}

.project-table tr td:first-child {
  font-size: 18px;
}

.project-stat {
  margin-top: 6px;
}

.number-list {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 30px;
  margin-right: 14px;
  float: left;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: #51baec;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo {
    height: 120px;
    width: 148px;
  }
  .header-stat {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-stat-value {
    font-size: 48px;
  }
  .header-stat-label {
    font-size: 21px;
  }
}
